<!-- desactivé parce que le sidenav ne semble pas bien se gérer sur plusieurs composants -->

<mat-toolbar color="primary">
  <mat-toolbar-row>

    <div *ngIf='!toggleMenu'>
      <button mat-icon-button (click)="sidenav.toggle();toggleMenu = !toggleMenu" class="md-icon-button sidenav-toggle-button"
        [hidden]="sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
      </button>
    </div>
    <span>&nbsp;Domandj</span>
    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>

    <div *ngIf="isAuthenticated">
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>


    <mat-menu #themeMenu x-position="before">

      <div *ngIf="!isAuthenticated">
        <button mat-menu-item [routerLink]="['auth/signin']">Login</button>
        <button mat-menu-item [routerLink]="['auth/signup']">Sign up</button>
      </div>
      <div *ngIf="isAuthenticated">
        <button mat-menu-item (click)="onSignOut()" style="cursor:pointer">Logout</button>
      </div>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
