<div>
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Mes classes</span>
    <span class="fill-remaining-space"></span>
    <button mat-mini-fab (click)="onCreate()" class="fab-bottom-right">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div class="classe-container">
  <div *ngFor="let classe of classes">
    <mat-card class="classe-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <h3>{{classe.name}}</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-stroked-button color="primary" (click)="onClassStudents(classe.id)">Elèves &nbsp;<mat-icon>group</mat-icon></button>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="onEdit(classe)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(classe.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- <div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.$key)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data ...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
</div> -->
