body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.stage-wrapper {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #964040;
  overflow: hidden;
  position: relative;
}