:host {
  display: flex;
  flex: 1;
}

.content {
  padding: 12px;
}

router-outlet {
  margin: 0px
}

mat-sidenav {
  width: 200px;
}

mat-list-item mat-icon {
  overflow: hidden;
  width: 64px;
  height: 64px;
  /*  border-radius: 50%; */
  margin: 12px;
}

.name-container {
  display: flex;
  margin: 25px;
  justify-content: center;
}

.toolbar-filler {
  flex: 1 1 auto
}

.toolbar-button-menu {
  color: red;
}
